body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f9; 
    color: #333; 
}

h1, h2 {
    color: #535a5c; 
    text-align: center; 
}

.container {
    max-width: 600px;
    margin: 0 auto; 
    padding: 20px; 
    border-radius: 8px; 
}

label {
    margin-top: 10px;
    display: block;
    font-weight: bold; 
}

input[type="text"],
input[type="file"] {
    padding: 10px; 
    margin: 10px 0; 
    border: 1px solid #ccc; 
    border-radius: 4px; /* Rounded corners */
    box-sizing: border-box; /* Includes padding in width */
}

button {
   
    padding: 10px; 
   background-color: #4242f5; 
    color: white;
    border: none; 
    border-radius: 4px; 
    cursor: pointer; 
    font-size: 16px; 
}

button:hover {
    background-color: #00ABE4; /* Darker green on hover */
}

#result {
    margin-top: 20px; 
    padding: 10px; /* Padding inside results */
    background-color: #e9ecef; /* Light gray background for results */
    border-radius: 4px; /* Rounded corners for results */
    white-space: pre-wrap;
    overflow-x: auto;
    max-height: 300px; 
    overflow-y: auto; 
}
