body {
    font-family: Times New Roman;
    margin: 0;
    padding: 35px;
    color: #452; 
}
h1, h2 {
    color: #535a5c; 
    text-align: center; 
}
.container {
    max-width: 700px; 
    margin: 0 auto; 
    padding: 35px; 
    background: #FFFFFF; 
    border-radius: 8px; 
}
label {
    margin-top: 15px; 
    display: block; 
    font-weight: bold; 
}
input[type="text"],
input[type="file"] {
    width: 50%; 
    padding: 12px; 
    margin: 15px 0; 
    border: 3px solid #ccc; 
    border-radius: 4px; 
    box-sizing: border-box; 
}
button {
    width: 100%; 
    padding: 12px; 
    background-color: #4242f5; 
    color: white; 
    border: none; 
    border-radius: 5px; 
    cursor: pointer; 
    font-size: 18px; 
}
button:hover {
    background-color: #00ABE4; 
}
#result {
    margin-top: 40px; 
    padding: 15px; 
    background-color: #e9ecef; 
    border-radius: 8px; 
    white-space: pre-wrap; 
    overflow-x: auto; 
    max-height: 300px; 
    overflow-y: auto;
}
